body {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-family: Orbitron, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(1deg, #E9CFBA, #5197b8);
}

div {
    display: flex;
}

.calculator {
    flex-direction: column;
    justify-content: center;

    width: 340px;

    background-color: #3299a7 ;

    /* border: solid 1px #000; */
}
.keyboard {
    height: 380px;
}

.display {
    flex-direction: column;

    min-height: 60px;

    padding: 15px;
    margin-bottom: 25px;


    background-color: #000;
    color:  #ccc;
    letter-spacing: 1px;
}
#memoryLine {
    justify-content: flex-end;
    height: 50%;
    align-items: center;
    font-size: 16px;
    word-break: break-all;
}
#inOutLine {
    justify-content: flex-end;
    height: 50%;
    align-items: center;
    font-size: 32px;
    word-break: break-all;

}

.column-cl,
.btn-em {
    flex-direction: column;
    flex: 1 1 100%;
}

.btn-em {
    justify-content: center;
    align-items: center;


    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    /* border-radius: 5px; */

    /* margin: 2px 0; */
    background-color: #56c8d8;
}

.a-em {
    background-color: #006978;
}
.equally {
    background-color: #015d6b;
}
.btn-em:hover {
    background-color: #0097a7;
}

.btn-em:active {
    color: #03140c;
    background-color: #0097a7;
    box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);

}

@keyframes backgroundZero {
    50% {
        background: linear-gradient(1deg, #E9CFBA, #5197b8);
        box-shadow: 0 -200px 100px -100px #59ad94 inset;
      }
}

@keyframes backgroundPositive {
    50% {
        background: linear-gradient(1deg, #E9CFBA, #5197b8);

      /* background: linear-gradient(1deg, #e67460, #a2e6f5); */
      box-shadow: 0 -200px 100px -100px #e67460 inset;
    }
}

@keyframes backgroundNegative {
    50% {
        background: linear-gradient(1deg, #E9CFBA, #5197b8);

      /* background: linear-gradient(1deg, #3080db, #83c5c0); */
      box-shadow: 0 -200px 100px -100px #3080db inset;
    }
}